.surahBadge {
  width: 50%;
  height: 20px;
  padding: 10px;
  background-color: rgb(32, 32, 32);
  border-radius: 0 0 8px 8px;
  position: sticky;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  color: rgb(9, 230, 82);
  opacity: 0;
  z-index: 9999;
  margin-top: -20px;
}

.visible {
  opacity: 1;
  transition: opacity 0.7s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 12px;
  font-family: "Scheherazade New", serif;
  text-align: center !important;
  background-color: #414141;
}

.badge_surah_name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.surah_length {
  display: block;
  width: 100%;
  min-height: 2px;
  background-color: #757575;
  color: yellow;
  border-radius: 6px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.head {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #757575;
}
