.surahBadge {
  width: 50%;
  height: 20px;
  padding: 10px;
  background-color: #202020;
  border-radius: 0 0 8px 8px;
  position: sticky;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  color: #93B1A6;
  opacity: 0;
  z-index: 9999;
  margin-top: -20px;
}

.visible {
  opacity: 1;
  transition: opacity 0.7s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 13px;
  font-family: "Scheherazade New", serif;
  text-align: center !important;
  background-color: #183D3D;
}

.badge_surah_name {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.surah_length {
  display: block;
  width: 100%;
  min-height: 2px;
  background-color: #9DB2BF;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.head {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #9DB2BF;
}
