.surah-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding-top: 10px;
  padding-inline: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.surah-details p , .surah-details h4{
font-size: 14px;
width: 30%;
font-weight: 600;
}

.surah-details h4{
  text-align: right;
}

.surah-details h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 900;
}

.surah-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.surah {
  max-width: 550px;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  margin: 10px 30px 30px 30px;
  padding: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: right;
  border-radius: 20px;
  word-spacing: 1px;
}

.ayah-number {
  background-color: rgb(197, 195, 195);
  font-size: 14px;
  border-radius: 50%;
  padding-inline: 3px;
  border: 1px solid #bbbb;
  margin: 5px;
  color: rgb(18, 18, 18);
}

.surah-container:nth-child(odd) {
  color: rgb(101, 101, 97);
}

.surah_loader{
  width: 100%;
}

.next{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding:0 10px 20px 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.darkModeText {
  color: white !important;
}

.next p{
  text-align: center;
  font-size: 16px;
  color: black;
  padding-bottom: 2px;
}

.next>p>span{
  font-size: 30px;
  color: green;
  margin-left: 5px;
  display: inline-block; 
  animation: moving 1s linear infinite; 
}

@keyframes moving {
  0% {
    transform: translateX(-50%);
  }

  50% {
    transform: translateX(0%); 
  }

  100% {
    transform: translateX(-50%);
  }
}


@media (min-width: 801px) {

  .surah {
    font-size: 24px !important;
  }

  .options {
    display: none;
  }

  .surah-details {
    justify-content: center;
    gap: 100px;
  }

  .surah-details h3 {
    font-size: 24px;
  }

}

@media (max-width: 800px) {
  .surah {
    width: 100%;
    padding: 15px;
    margin-inline: 5px;
  }

  .surah-details {
    padding-inline: 15px;
  }


  .options {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(3, 3, 3);
    padding: 12px 15px 12px 15px;
  }


  .settings select {
    width: 100px;
    height: 30px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border-radius: 10px;
    border-color: rgb(223, 200, 21);
  }

}