/* @import url("https://fonts.googleapis.com/css2?family=Reem+Kufi+Ink&display=swap"); */
/* @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic&display=swap'); */

.surah-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: 55px;
  padding: 20px 15px;
  font-family: "Scheherazade New", serif !important;
  font-weight: 900;
  color: #50727b;
}

.surah_bg {
  display: none;
}

.surah-details p,
.surah-details h4 {
  font-size: 14px;
  width: 25%;
  font-weight: 600;
}

.surah-details h4 {
  text-align: right;
}

.surah-details h3 {
  font-weight: bolder;
  font-size: 23px;
  width: 60%;
  text-align: center;
}

.surah-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 78vh;
  text-align-last: center;
}

.surah {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  margin: 10px 30px 30px 30px;
  padding: 10px !important;
  text-align: justify;
  text-align-last: center;
  line-height: 2.4;
  font-family: "Scheherazade New", serif !important;
  border-radius: 5px;
  height: 100% !important;
}

.ayah-number {
  min-width: 20px;
  height: 20px;
  font-size: 11px;
  border-radius: 50%;
  padding: 0px 5px;
  margin: 0 3px;
  border: 1px solid gray;
  text-align: center;
  line-height: 15px;
  box-sizing: border-box;
  color: grey !important;
}

/* surah page */

.surah_ayahs {
  display: flex;
  flex-wrap: wrap;
}

/* next section */

.next {
  font-family: "Scheherazade New", serif;
  padding: 10px 10px 30px 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.darkModeText {
  color: white;
}

.next p {
  text-align: center;
  font-size: 16px;
  padding-bottom: 5px;
  font-weight: 600;
}

.next p:nth-child(1):hover {
  color: rgb(4, 4, 168);
}

.loader{
  width: 50vw;
  margin: 0 auto;
}


/* search form  */

.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
}

.search_ayah {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  width: 50%;
  z-index: 9999;
}

.search_ayah p {
  margin: 0 0 5px 0;
  font-size: 16px;
}

.search_ayah form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  font-family: inherit;
}

.search_ayah form > input {
  padding: 10px;
  width: 80px;
  border-radius: 5px;
  border: 1px solid gray;
  text-align: center;
  font-size: 22px;
  /* border: none; */
}

.search_ayah form button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 10px;
  border-radius: 5px;
  border: none;
  background-color: #525252;
  color: #fff;
  font-size: 12px;
}

@media (min-width: 801px) {
  .surah-details {
    max-width: 1200px;
    justify-content: space-between;
    gap: 10px;
    padding-inline: 40px;
    margin: 10px auto;
    background-color: #fff !important;
  }

  .surah-details p,
  .surah-details h4 {
    font-size: 30px;
  }

  .surah-details h3 {
    font-size: 40px;
  }

  .surah-page {
    background-color: #fff !important;
  }

  .surah {
    font-size: 24px !important;
    font-family: "Scheherazade New", serif !important;
  }

  .ayahs {
    color: black !important;
  }

  .options {
    display: none;
  }
}

@media (max-width: 800px) {
  .surah {
    width: 100%;
    margin-inline: 5px;
  }

  .options {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(3, 3, 3);
    padding: 16px 15px 16px 15px;
  }

  .options > * {
    cursor: pointer;
  }

  .settings select {
    width: 100px;
    height: 30px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border-radius: 10px;
    border-color: rgb(223, 200, 21);
  }
  .loader_ {
    width: 88vw;
    margin: 0 auto;
  }
}
