.surah-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  gap: 20px;
  padding-inline: 15%;
}

.surah-details h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.surah-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.ayahs {

}

.surah {
  max-width: 550px;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  margin: 10px 30px 30px 30px;
  padding: 15px;
  /* border: 2px double rgb(49, 143, 60); */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: right;
  border-radius: 20px;
  word-spacing: 1px;
}

.ayahAndNumber{
  
}

.ayah-number {
  background-color: rgb(197, 195, 195);
  font-size: 14px;
  border-radius: 50%;
  padding-inline: 3px;
  border: 1px solid #bbbb;
  margin: 5px;
  color: rgb(18, 18, 18);
}

.surah-container:nth-child(odd) {
  color: rgb(101, 101, 97);
}


.loadSurah {
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.innerLoader{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 2px;
  background-color: #0073b1 !important;
  animation: moveRight 1s linear infinite; 
}

@keyframes moveRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}



@media (min-width: 801px) {
  .options {
    display: none;
  }
}

@media (max-width: 800px) {
  .surah {
    width: 100%;
    padding: 15px;
    /* gap: 18px; */
    margin-inline: 5px;
  }

  .surah-details {
    padding-inline: 15px;

  }


  .options {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(3, 3, 3);
    padding: 12px 15px 12px 15px;
  }


  .settings select {
    width: 100px;
    height: 30px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border-radius: 10px;
    border-color: rgb(223, 200, 21);
  }

}