.home-container {
  position: relative;
  display: flex;
  height: 100%;
  justify-content: center;
  background-color: aliceblue;
} 
  
.home-sec { 
  width: 550px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
  background-color: #ffff;
  margin: 15px 0px 15px 0px;
  /* background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0Bba8u1pJH-QFGll43RApbvFhAIkNEULbQA&usqp=CAU"); */
}

.surahNumberEngName {
  justify-content: flex-start;
}

.surah-name {
  display: flex;
  justify-content: flex-end;
}

.surahNumberEngName,
.surah-name {
  width: 45%;
}

.type {
  font-size: larger;
}


@media (max-width: 800px) {
  .home-sec {
    width: 100%;
    margin-inline: 10px;
  }

  .surah-list span:nth-child(3) {
    font-size: 20px !important;
  }
}

.surah-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid #8ec5875e;
  transition: background-color 0.3s;
  margin: 5px;
  border-radius: 10px;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSW4Gnz7QBHNsl6CmaKrXJ5BPg_ginmRi7MNA&usqp=CAU");
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 5px;
  min-height: 60px;
}

.juz_number{
  font-family: 'Scheherazade New', serif ;
  font-size: 22px;
}


.surahNumberEngName {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: Montserrat;
}

.surah-list:hover {
  background-color: #f7f6f688;
  border-radius: 10px;
  cursor: pointer;
}

.surah-list div:nth-child(1) {
  font-size: 16px;
  font-weight: 600;
}

.surah-list span:nth-child(3) {
  font-size: 21px !important;
  font-family: 'Scheherazade New', serif ;
}